﻿@model Cts.HR.Recruiting.RSVP.Models.LocalPasswordModel

@* Using the original LocalPasswordModel we have made the additions of FullName and 
OfficeLocation *@
<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Update Information Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
          
          
        </ol>
        <input type="submit" value="Update Information" />
    </fieldset>
}
