﻿@model Cts.HR.Recruiting.RSVP.Models.Attendee

@{
    ViewBag.Title = "AttendeeConfirmation";
}

<h2>AttendeeConfirmation</h2>
@Html.Partial("ConfirmationPartial")
<br />
@*@Html.Partial("ConfirmAttendeeEventPartial")
<br />*@
