﻿@model IEnumerable<Cts.HR.Recruiting.RSVP.Models.Event>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
       </th>
             </tr>


</table>
