﻿@model Cts.HR.Recruiting.RSVP.ViewModels.RegisterData

@{
    ViewBag.Title = "Reigstration complete!";
}

<h2>Thank You!</h2>
<h3>Registered for: @Html.DisplayFor(model => model.Event.Name)</h3>

   <div class="display-field">
        @Html.DisplayFor(model => model.Attendee.FirstName)
  
        @Html.DisplayFor(model => model.Attendee.LastName)
    </div>
    
   <div class="display-field">
        @Html.DisplayFor(model => model.Attendee.Email)
    </div>

   <div class="display-field">
        @Html.DisplayFor(model => model.Attendee.UserKey)
    </div>
