﻿@model Cts.HR.Recruiting.RSVP.ViewModels.RegisterData

@{
    ViewBag.Title = "Register for " + Html.DisplayFor(model => model.Event.Name);
}

<h2>@Html.DisplayFor(model => model.Event.Name)</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="attendee">
        <legend>Attendee</legend>
        <div>
            @Html.HiddenFor(model => model.Event.Id)
            @Html.HiddenFor(model => model.Event.AdminId)
            @Html.HiddenFor(model => model.Event.Name)
            @Html.HiddenFor(model => model.Event.EventDate)
            @Html.HiddenFor(model => model.Event.EventTypeId)
            @Html.HiddenFor(model => model.Event.Location)
            @Html.HiddenFor(model => model.Event.Address1)
            @Html.HiddenFor(model => model.Event.Address2)
            @Html.HiddenFor(model => model.Event.City)
            @Html.HiddenFor(model => model.Event.State)
            @Html.HiddenFor(model => model.Event.Zip)
            @Html.HiddenFor(model => model.Event.Texts)
        </div>

        <div>
            @Html.DisplayName("Date:") &nbsp;
            @Html.DisplayFor(model => model.Event.EventDate)
        </div>
        <div>
            @Html.DisplayName("Location:") &nbsp;
            @Html.DisplayFor(model => model.Event.Location)
        </div>

        @if (string.IsNullOrWhiteSpace(Model.Event.Address1) == false)
        {
            <div>
                @Html.DisplayFor(model => model.Event.Address1)
                &nbsp;
                @Html.DisplayFor(model => model.Event.Address2)
            </div>
        }

        <div>

            @if ((string.IsNullOrWhiteSpace(Model.Event.City) == false) && (string.IsNullOrWhiteSpace(Model.Event.State) == false))
            {
                @Html.DisplayFor(model => model.Event.City)
                @Html.DisplayName(", ")
            }
            else if (string.IsNullOrWhiteSpace(Model.Event.City) == false)
            {           
                @Html.DisplayFor(model => model.Event.City)
                
            }

            @if (string.IsNullOrWhiteSpace(Model.Event.State) == false)
            {
                @Html.DisplayFor(model => model.Event.State)
                @Html.DisplayName(" ")
            }

            @if (string.IsNullOrWhiteSpace(Model.Event.Zip) == false)
            {
                @Html.DisplayFor(model => model.Event.Zip)
            }
        </div>

        <br />

        <div class="editor-label">
            @Html.Label("First Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendee.FirstName)
            @Html.ValidationMessageFor(model => model.Attendee.FirstName)
        </div>

        <div class="editor-label">
            @Html.Label("Last Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendee.LastName)
            @Html.ValidationMessageFor(model => model.Attendee.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attendee.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendee.Email)
            @Html.ValidationMessageFor(model => model.Attendee.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attendee.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendee.Phone)
            @Html.ValidationMessageFor(model => model.Attendee.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attendee.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendee.Company)
            @Html.ValidationMessageFor(model => model.Attendee.Company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attendee.School)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendee.School)
            @Html.ValidationMessageFor(model => model.Attendee.School)
        </div>

        <div class="editor-label">
            @Html.Label("Address, City, State, Zip")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendee.Address)
            @Html.ValidationMessageFor(model => model.Attendee.Address)
        </div>

        <div class="editor-label">
            @Html.Label("Web URL")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendee.WebURL)
            @Html.ValidationMessageFor(model => model.Attendee.WebURL)
        </div>

        @if ((string.IsNullOrWhiteSpace(Model.Event.Question1) == false) || (string.IsNullOrWhiteSpace(Model.Event.Question2) == false) || (string.IsNullOrWhiteSpace(Model.Event.Question3) == false) ||
            (string.IsNullOrWhiteSpace(Model.Event.Question4) == false) || (string.IsNullOrWhiteSpace(Model.Event.Question5) == false))
        {
            <div class="editor-label">
                @Html.Label("Please Answer")
            </div>
        }

        <div class="editor-field">
            @Html.DisplayFor(e => e.Event.Question1)
        </div>
        <div>
            @if (string.IsNullOrWhiteSpace(Model.Event.Question1) == false)
            {
                @Html.EditorFor(e => e.Attendee.Answer.Answer1)
            }
        </div>

        <div class="editor-field">
            @Html.DisplayFor(e => e.Event.Question2)
        </div>
        <div>
            @if (string.IsNullOrWhiteSpace(Model.Event.Question2) == false)
            {
                @Html.EditorFor(e => e.Attendee.Answer.Answer2)
            }
        </div>

        <div class="editor-field">
            @Html.DisplayFor(e => e.Event.Question3)
        </div>
        <div>
            @if (string.IsNullOrWhiteSpace(Model.Event.Question3) == false)
            {
                @Html.EditorFor(e => e.Attendee.Answer.Answer3)
            }
        </div>

        <div class="editor-field">
            @Html.DisplayFor(e => e.Event.Question4)
        </div>
        <div>
            @if (string.IsNullOrWhiteSpace(Model.Event.Question4) == false)
            {
                @Html.EditorFor(e => e.Attendee.Answer.Answer4)
            }
        </div>

        <div class="editor-field">
            @Html.DisplayFor(e => e.Event.Question5)
        </div>
        <div>
            @if (string.IsNullOrWhiteSpace(Model.Event.Question5) == false)
            {
                @Html.EditorFor(e => e.Attendee.Answer.Answer5)
            }
            <div>
            </div>

        </div>
        @* If this isn't commented out the UserKey will be visible. Completely optional.
    @*    <div class="editor-label">
            @Html.LabelFor(model => model.UserKey)
        </div>*@
        @*  <div class="editor-field">
           
            @Html.EditorFor(model => model.UserKey)
            @Html.ValidationMessageFor(model => model.UserKey)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
