﻿@model Cts.HR.Recruiting.RSVP.Models.Attendee

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm()){
    @Html.ValidationSummary(true)

<h2>Details</h2>

<fieldset>
    <legend>Attendee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.School)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.School)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserKey)
    </div>

    <div class="display-label">
         @Html.DisplayFor(model => model.Event.Question1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer.Answer1)
    </div>

    <div class="display-label">
         @Html.DisplayFor(model => model.Event.Question2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer.Answer2)
    </div>

    <div class="display-label">
         @Html.DisplayFor(model => model.Event.Question3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer.Answer3)
    </div>

    <div class="display-label">
         @Html.DisplayFor(model => model.Event.Question4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer.Answer4)
    </div>

    <div class="display-label">
         @Html.DisplayFor(model => model.Event.Question5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer.Answer5)
    </div>
</fieldset>
}
<p>
@*    @Html.ActionLink("Edit", "Edit", new { id=Model.EventAttendeeId }) |*@
    @Html.ActionLink("Back to List", "Index", new { id = Model.Event.Id })
</p>
    

<style>

</style>