﻿@model IEnumerable<Cts.HR.Recruiting.RSVP.Models.Attendee>

@{
    ViewBag.Title = "Attendees";
}

@if (Model.Count() > 0)
{
    string s = "This Event";
    int? ID = null;
    foreach (var item in Model)
    {
        s = item.Event.Name;
        ID = item.Event.Id;
    }
    <h2>Attendees of @s </h2>
    @Html.ActionLink("Export to Excel", "Excel",new {id = ID})
}


<table >
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Email)
        </td>
       
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
