﻿@{
    ViewBag.Title = "About CTS";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
  <p>CTS is a privately held, regional IT consulting firm that provides business intelligence, quality assurance, application integration, software development, and portals and collaboration consulting services to enterprise clients. CTS has offices in Atlanta, Ga.; Birmingham, Ala.; Charlotte, N.C.; Chattanooga, Tenn.; Nashville, Tenn.; and Mobile, Ala.</p>
    <p>For more information, visit our <a href="http://www.askcts.com/location?an=244" target="_blank">website</a>.</p>
</article>