﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone: 251.706.4460</h3>
        <h3>Fax: 251.706.4461</h3>
    </header>
    <p>
        <span class="label"></span>
        <span></span>
    </p>
    <p>
        <span class="label">Director: Matt Seese</span><br />
        <span class="label">Human Resources: Kelly Thompson</span>
               <span></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3><a href="http://askcts.com/contact.php">Contact</a></h3>
    </header>

</section>

<section class="contact">
    <header>
        <h3></h3>
    </header>
    <p>

    </p>
</section>