﻿@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">

        <div class="content-wrapper">
            <hgroup class="title">
                <h1>RSVP</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
        <div id="nav">
        </div>
    </section>
}
<h3><img src="~/Images/landing_strip_CTS.png" /> </h3>
