﻿@model IEnumerable<Cts.HR.Recruiting.RSVP.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Events</h2>

<p>Select an Event from @Model.Count() Events:</p>

<ul>
    @foreach (var events in Model)
    { 
    <li>@Html.ActionLink(events.EventName, "Details", new {events = events.EventName})</li>
    }
</ul>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { events=item.EventName }) |
            @Html.ActionLink("Details", "Details", new { events=item.EventName }) |
            @Html.ActionLink("Delete", "Delete", new { events=item.EventName })
        </td>
    </tr>
}

</table>
