﻿@model Cts.HR.Recruiting.RSVP.ViewModels.EventData

@{
    ViewBag.Title = "Create New Event";
}



<h2>Create New Event</h2>

@using (Html.BeginForm("Create", "Event")) {
    @Html.ValidationSummary(true)

    
    <fieldset>
        <legend>Event</legend>

        <br />

        <div class="editor-label">
            @Html.Label("Event Name")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Event.Name)
            @Html.ValidationMessageFor(model => model.Event.Name)
        </div>
  
        <div class="editor-label">
            @Html.LabelFor(model => model.Event.EventDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.EventDate.Date)
            @Html.ValidationMessageFor(model => model.Event.EventDate.Date)
        </div>

        <div>
            @Html.Label("Time")
        </div>
        <div class="editor-field">
        @Html.EditorFor(model => model.Event.EventDate.TimeOfDay)
        @Html.ValidationMessageFor(model => model.Event.EventDate.TimeOfDay,"The Time field is required.")
        </div>
        <div class="editor-label">
            @Html.Label("Type")
        </div>
        <div>
            @Html.DropDownListFor(model => model.Event.EventTypeId, new SelectList(Model.EventTypes, "Id", "Name"),new {@class ="dropdownlist"})

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.Location)
            @Html.ValidationMessageFor(model => model.Event.Location)
            @Html.CheckBox("ChkAddress", false, new { onclick = "showAddress(this);" }) (check to enter address)
        </div>

        <div id="AddressFields" hidden="hidden">
            <div class="editor-label">
                @Html.LabelFor(model => model.Event.Address1)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Address1)
                @Html.ValidationMessageFor(model => model.Event.Address1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.Address2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Address2)
                @Html.ValidationMessageFor(model => model.Event.Address2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.City)
                @Html.ValidationMessageFor(model => model.Event.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.State)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.State)
                @Html.ValidationMessageFor(model => model.Event.State)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.Zip)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Zip)
                @Html.ValidationMessageFor(model => model.Event.Zip)
            </div>
        </div>

            <div class="editor-label">
                @Html.Label("Custom Questions")
            </div>

            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question1)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question3)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question4)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question5)
            </div>
@*            <div class="editor-label">
                Question 1
                @Html.TextBoxFor(model => model.CustomQuestions)
            </div>
           <div class="editor-label">
                Question 2
                @Html.TextBoxFor(model => model.CustomQuestions)
            </div>

            <div class="editor-label">
                Question 3
                @Html.TextBoxFor(model => model.CustomQuestions)
            </div>
            
            <div class="editor-label">
                Question 4
                @Html.TextBoxFor(model => model.CustomQuestions)
            </div>

            <div class="editor-label">
                Question 5
                @Html.TextBoxFor(model => model.CustomQuestions)
            </div>*@ 

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.Texts)
            </div>
            <div>
                @Html.TextAreaFor(model => model.Event.Texts)
            </div>

        
        @*used to generate dynamic text boxes*@
@*        <div>
            <select id="qty">
                @for (var i = 0; i < 6; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>

        <div id="quesdiv">
        </div>*@
        @*custom question textboxes area*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style type="text/css">

    .timePicker {
        border: 1px solid gray;
        overflow-y: scroll;
        height: 120px;
        width: 180px;
        position: absolute;
        background-color: #fff;
    }

    .timePicker ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .timePicker ul li p {
        padding: 3px;
        margin: 0;
    }

    .timePicker ul li:hover, .timePicker-selected {
        background-color: gray;
        color: #fff;
    }

</style>
<script type="text/javascript">



    //$(document).ready(function () {
    //    $("#Event_EventDate_Date").datepicker({ showOn: 'both', dateFormat: 'dd/mm/yy' });
    //});


    //setting the model to customquestions and inserting data is causing invalid model
    @*    $('#qty').change(function () {
        $('#quesdiv').html("");
        $count = $(this).val();
        for (var i = 1; i <= $count; i++) {
            $('#quesdiv').append('<div><label>Question #' + i + ' </label>@Html.TextBoxFor(model => model.Question.Question, new { @class= "quesiton"})</div>');
        }
    });*@

    //function CreateEvent() {
    //    var q = [];

    //    $('.question').each(function () {
    //        q.push($(this).val());
    //    });

    //}
</script>

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
@*@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/Content/themes/base/cs")*@





}
