﻿@model Cts.HR.Recruiting.RSVP.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

    @Html.ActionLink("Register", "Create", "Attendee", new { id = Model.Id },null)

<fieldset>
    <legend>Event</legend>

    <br />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDate)
    </div>

    <div class="display-label">
         @Html.Label("Event Type")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.Label("Address")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)<br />
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>
</fieldset>

        <div class="dynamic_url">
            <br />
          @Html.Label("Event URL:")
          @Html.TextBox("Event URL", Request.Url.AbsoluteUri)

        </div>

@*This is what I am replacing with this to give it a try, 
its because we moved the questions to the event model --Scott
    @{Html.RenderPartial("DetailQuestion", Model.CustomQuestions);}*@
@* I think it has to be done this way. Using if statement to hide if the Question is null - yosuke *@
@if(string.IsNullOrWhiteSpace(Model.Question1)==false)
{   
<div class="display-label">
         @Html.DisplayNameFor(model => model.Question1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question1)
    </div>
}
@if(string.IsNullOrWhiteSpace(Model.Question2)==false)
{
  <div class="display-label">
         @Html.DisplayNameFor(model => model.Question2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question2)
    </div>
}
@if(string.IsNullOrWhiteSpace(Model.Question3)==false)
{
  <div class="display-label">
         @Html.DisplayNameFor(model => model.Question3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question3)
    </div>
}
@if(string.IsNullOrWhiteSpace(Model.Question4)==false)
{
  <div class="display-label">
         @Html.DisplayNameFor(model => model.Question4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question4)
    </div>
}
@if(string.IsNullOrWhiteSpace(Model.Question5)==false)
{
  <div class="display-label">
         @Html.DisplayNameFor(model => model.Question5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question5)
    </div>
}