﻿@model IEnumerable<Cts.HR.Recruiting.RSVP.Models.CustomQuestion>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
 @*       <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomQuestionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomQuestionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomQuestionID })
        </td>*@
    </tr>
}

</table>
