﻿@model IEnumerable<Cts.HR.Recruiting.RSVP.Models.CustomQuestion>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
@*        <th>
            @Html.DisplayNameFor(model => model)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.EventID)
         
        </td>*@
@*  <td>
         @Html.EditorFor(modelItem =>item.CustomQuestionID)
  </td>*@
        <td>
            @Html.EditorFor(modelItem => item.Question)
        </td>
@*  <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        *@
       @* <td>
            @Html.ActionLink("EditQuestion", "EditQuestion",  new { id=item.CustomQuestionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomQuestionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomQuestionID })
        </td>*@
            <td>    <p>
            <input type="submit" value="Save" />
        </p></td>
    </tr>
}

</table>
