﻿@model  Cts.HR.Recruiting.RSVP.ViewModels.EditEventData

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="event">
        <legend>Event</legend>

        @Html.HiddenFor(a => a.Event.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.Name)
            @Html.ValidationMessageFor(model => model.Event.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.EventDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.EventDate.Date)
            @Html.ValidationMessageFor(model => model.Event.EventDate.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.EventDate.TimeOfDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.EventDate.TimeOfDay)
            @Html.ValidationMessageFor(model => model.Event.EventDate.TimeOfDay, "The Time field is required.")
        </div>

        @*will need to provide ddl for this*@ 
        <div class="editor-label">
            @Html.LabelFor(model => model.Event.EventType)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Event.EventTypeId)*@
            @Html.DropDownListFor(model => model.Event.EventTypeId, new SelectList(Model.EventTypes, "Id", "Name"), new { @class = "dropdownlist" })
            @Html.ValidationMessageFor(model => model.Event.EventType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.Location)
            @Html.ValidationMessageFor(model => model.Event.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.Address1)
            @Html.ValidationMessageFor(model => model.Event.Address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.Address2)
            @Html.ValidationMessageFor(model => model.Event.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.City)
            @Html.ValidationMessageFor(model => model.Event.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.State)
            @Html.ValidationMessageFor(model => model.Event.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.Zip)
            @Html.ValidationMessageFor(model => model.Event.Zip)
        </div>

            <div class="editor-label">
                @Html.Label("Custom Questions")
            </div>

            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question1)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question3)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question4)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Question5)
            </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Texts)
        </div>
        <div>
            @Html.TextAreaFor(model => model.Event.Texts)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<style type="text/css">

    .timePicker {
        border: 1px solid gray;
        overflow-y: scroll;
        height: 120px;
        width: 180px;
        position: absolute;
        background-color: #fff;
    }

    .timePicker ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .timePicker ul li p {
        padding: 3px;
        margin: 0;
    }

    .timePicker ul li:hover, .timePicker-selected {
        background-color: gray;
        color: #fff;
    }

</style>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
