﻿@model IEnumerable<Cts.HR.Recruiting.RSVP.Models.Event>

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table>
    <tr>
        <th>
            @Html.DisplayName("Event")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.Name, "Details", new { id=item.Id })
        </td>        
        <td>
           @Html.DisplayFor(modelItem => item.EventDate) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Attendees", "Index", "Attendee", new { id = item.Id },null) |
            @Html.ActionLink("Edit", "Edit", new { id = item.Id } ) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@*viewmodel.eventdata*@
@*<table>
    <tr>
        <th>
            @Html.DisplayName("Created By")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventDate)
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.UserProfile.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Event.Name)
        </td>        
        <td>
           @Html.DisplayFor(modelItem => item.Event.EventDate) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Location)
        </td>
        <td>
            @Html.ActionLink("Register", "Create", "Attendee", new { id = item.Event.Id },null)|
            @Html.ActionLink("Attendees", "Index", "Attendee", new { id = item.Event.Id },null)|
            @Html.ActionLink("Edit", "Edit", new { id=item.Event.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Event.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Event.Id })
        </td>
    </tr>
}

</table>*@
