﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - RSVP</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")

        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        @RenderSection("Content", false)

        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-TimePicker-1.0.0.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Site.js")" type="text/javascript"></script>
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

        @*<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />*@
   
        
         </head>

    <body>

                @* Facebook *@
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        
        
             @* Twitter *@
        <script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id; js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");</script>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="~/Home/Index"><img src="~/Images/cts_logo.png" /> </a>
                    @*<p class="site-title">@Html.ActionLink("CTS", "Index", "Home")</p>*@
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                          @if (User.Identity.IsAuthenticated == true) { 
                            <li>@Html.ActionLink("Events","Index","Event")</li>
                            <li>@Html.ActionLink("Create","Create", "Event")</li>                          
                            <li>@Html.ActionLink("Admin","Register","Account")</li>
                            @*<li>@Html.ActionLink("Excel", "Excel", "Attendee")</li>*@  
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
         <div class="socialmedia">
   
             @* Facebook *@
        <div class="fb-like" data-href="https://www.facebook.com/askCTS" data-send="true" data-width="200" data-show-faces="true"></div>
   <br /><br />
            @* Twitter *@
        <a href="https://twitter.com/intent/tweet?screen_name=askCTS" class="twitter-mention-button" data-lang="en">Tweet to @@askCTS</a>
      </div>
          <footer>
             

            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year Computer Technology Solutions</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
