﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h2 class="error">Sorry, an error occurred while processing your request.</h2>
</hgroup>
